{{!-- {{component tastyComponentName}}
{{component 'another-component'}} --}}




{{test-dashboard}}

{{!-- {{resize-detector ".my-" on-resize=(action 'resize' item.id)}}
<div id="1" class='my-container' style="left:0px;top:0px;width:200px;height:200px;background:red;position:absolute;overflow:auto;resize:auto"></div>
<div id="2" class='my-container' style="left:0px;top:0px;width:200px;height:200px;background:black;position:absolute;overflow:auto;resize:auto"></div> --}}